<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="parent-containter">
        <div class="center-div">
            <h1>Books</h1>
        </div>
    </div>

    <form id="searchForm" action="{{ url_for('mainPage') }}" method="post">
        <div class="search-container">
            <input class="search" type="text" placeholder="Search..." name="search_input">
        </div>
    </form>
    
    <a href="{{ url_for('profile') }}">Profile</a>
    
    {% if adminLevel %}
    <a href="{{ url_for('addBook')}}">Add book</a>
    {% endif %}
    
    <a href="{{ url_for('logout')}}">Logout</a>


    <table>
        <tr>
            <!-- <th>ID</th> -->
            <th>Author</th>
            <th>Book Name</th>
            <th>Publish Date</th>
            <th>Number of pages</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
            <tr>
                <!--<td>{{book.id}}</td> -->
                <td>{{book.author}}</td>
                <td>{{book.name}}</td>
                <td>{{book.publishDate.year}}</td>
                <td>{{book.noPages}}</td>
                <td>
                    {% if book.quantity > 0 %}
                        {{book.quantity}}
                        <td>
                            <button onclick="borrowBook('{{ book.id }}')">Borrow</button>
                        </td>
                    {% else %}
                        {{book.quantity}}
                        <td>
                            <button disabled>Busy</button>
                        </td>
                    {% endif %}
                </td>
                {% if adminLevel %}
                <td>
                    <button onclick="editBook('{{ book.id }}')">Edit</button>
                </td>

                <td>
                    <button onclick="deleteBook('{{ book.id }}')">Delete</button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
<script>
    function borrowBook(bookId) {
        window.location.href = '/borrow?bookId=' + bookId;
    }

    function editBook(bookId) {
        window.location.href = '/edit?bookId=' + bookId;
    }

    function deleteBook(bookId){
        window.location.href = '/delete?bookId=' + bookId;
    }

    document.getElementById('searchInput').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                submitForm();
            }
        });

    </script>
</script>
</body>
</html>
