
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Profile</h1>
    <p> {{ user.id }}</p> <br>
    <p> {{ user.firstName }} {{ user.lastName }} </p>
    <p> {{ user.city }} </p>
    <p> {{ user.phoneNo }}</p>
    <p> {{ user.email }} </p>
    <p> {{ user.birthDate.day }}-{{ user.birthDate.month }}-{{ user.birthDate.year }}</p>
    {% if books %}
        <p>BorrowedBooks: </p>
        <table>
            <tr>
                <th>Author</th>
                <th>Book Title</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{book.author}}</td>
                <td>{{book.name}}</td>
                <td><button type="submit" onclick="returnBook('{{ book.id }}', '{{ book.name }}', '{{ book.author }}')">Return</button></td>
            </tr>
            {% endfor %}
    {%endif%}
        </table>
</body>

<script>
    function returnBook(bookId, bookName, author) {
        fetch('/return', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                bookId: bookId,
                bookName: bookName,
                author: author,
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the server if needed
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
        location.reload(true)
    }
</script>


</html>
