
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href ="{{ url_for('mainPage')}}">Index</a>
    <div class="parent-containter">
        <div class="center-div">
            <h1>Profile</h1>
            <p>Name: {{ user.firstName }} {{ user.lastName }} </p>
            <p>City: {{ user.city }} </p>
            <p>Phone no: {{ user.phoneNo }}</p>
            <p>Email: {{ user.email }} </p>
            <p>Date: {{ user.birthDate.day }}-{{ user.birthDate.month }}-{{ user.birthDate.year }}</p>
            {% if books %}
                <button style="font-size: 10px;" onclick="toggleTable()"><span class="toggle-icon">&#9660;</span></button>
                <table id="bookTable">
                    <tr>
                        <th>Author</th>
                        <th>Book Title</th>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <td>{{book.author}}</td>
                        <td>{{book.name}}</td>
                        <td><button type="submit" onclick="returnBook('{{ book.id }}')">Return</button></td>
                    </tr>
                    {% endfor %}
            {%endif%}
                </table>
        </div>
    </div>

</body>

<script>

    function returnBook(bookId) {
        window.location.href = '/return?bookId=' + bookId;
    }

    function toggleTable(){
        var table = document.getElementById("bookTable");
        table.style.display = (table.style.display === "none" || table.style.display === "") ? "table" : "none";
        
        var toggleControl = document.querySelector(".toggle-control");
        toggleControl.classList.toggle("collapsed");
    }

</script>


</html>
