<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="{{ url_for('register') }}">
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>

        <label for="email">Email:</label>
        <input type="text" name="email" required>
        <br>

        <label for="firstName">First name:</label>
        <input type="text" name="firstName" required>
        
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" required>
        <br>

        <label for="city">City: </label>
        <input type="text" name="city" required>

        <label for="phoneNo">Phone number: </label>
        <input type="text" name="phoneNo" required>

        <label for="birthDate">birthDate: </label>
        <input type="date" name="birthDate" required>
        
        <button type="submit">Sign up</button>
    </form>
    </script>

</body>
</html>